.page{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}